@font-face {
    font-family: "norse-bold";
    src: url(font/Norse-Bold.otf) format('otf');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set body defaults */
body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/*Default styles done*/


body {

}

.left-container {
    background-image: image-set(src="img/bkgd.jpeg");
}
