@font-face {
    font-family: "norse-bold";
    src: url(font/Norse-Bold.otf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set body defaults */
body {
  font-weight: 400;
  font-size: 1.25rem;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/*---Default styles done---*/

/*---Begin Custom CSS---*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

header {
    background: url(img/bkgd.jpg) no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: 30rem;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    
}

main {
    flex-basis: 70%;
    flex-grow: 9999;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4em 2em;
}

main > * {
    max-width: 100%;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "norse-bold";
    font-size: 6rem;
    margin-top: 2em;
    background-color: hsla(0, 0%, 0%, 0.40);
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
}

.img-source {
    font-size: 12px;
    color: whitesmoke;
    margin-bottom: 2em;
}

.top-content {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 2em;
    align-items: flex-end;
    /*background-color: hsl(0, 0%, 95%);*/
}

p {
    margin-top: 1em;
}

form {
    margin-bottom: 1em;
    font-size: 1rem;
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
}

input {
  width: 400px;
}

